
:root {
  --white: #FFF;
  --white-opacity: rgba(0, 0, 0, 0.24);
  --white-with-opacity: rgba(255, 255, 255, 0.3);
  --gray: #F1F5F7;
  --dark-gray: #A9A9A9;
  --light-gray-with-opacity: rgba(169, 169, 169, 0.3);
  --light-gray: #C5C5C5;
  --white-gray: #F1F5F7;
  --light-white-gray: #F3F7F9;
  --lighter-white-gray: #E5E5E5;
  --border-light-gray: #EAEAEA;
  --lighten-gray: rgba(197, 197, 197, 0.3);
  --blue-gray: #F9F5F0;
  --black: #000;
  --black-blue: #161D29;
  --light-red: #EE3643;
  --red: #CA2C37;
  --dark-red: #BA2732;
  --basic-blue: #32425C;
  --dark-blue: #293449;
  --orange: #FFBF47;
  --ligh-orange: #FFD180;
  --white-orange: #F7F3EC;
  --light-blue: #3BBCE3;
  --liliac: #DC91D8;
  --green: #5FBB2D;
  --dark-green: #63A63E;
  --darker-green: #518534;
  --pale-green: #8ED78F;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* General */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  border: none;
  background-color: var(--light-red);
}

.button:hover {
  background-color: var(--red);  
}

.button:active {
  background-color: var(--dark-red);  
}

.section-header {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 20px; 
  padding: 29px 14px 30px 28px;
  background-color: var(--blue-gray);
}

.section-header-gray {
  margin: 20px 0;
  padding: 29px;
  background-color: var(--gray);
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--basic-blue);
  text-transform: uppercase;
}

.title-black {
  color: var(--black);
}

.new-label {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--light-red);
}

/* Greed */

.page {
  height: 100%;
}

.page-body {
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  display: grid;
}

.main-header-top-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-self: center;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header */

.main-header {
  background-color: var(--gray);
}

.main-header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-blue);
}

.logo {
  box-shadow: inset 0 -5px 0 var(--white-opacity);
  background-color: var(--light-red);
}

.search input {
  border: none;
  background-color: var(--dark-blue);
}

.search input:focus {
  background-color: var(--white);
}

.cart-active {
  background-color: var(--light-red);
}

.order-button {
  background-color: var(--dark-green);
}

.order-button:hover {
  background-color: var(--green);
}

.order-button:active {
  background-color: var(--dark-green);
}

.main-header-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px 60px 10px;
}

.main-header-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  align-items: center;
}

.header-subtitle {
  font-size: 16px;
  line-height: 23px;
  color: var(--light-red);
}

.header-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--light-red);
  border: 3px solid var(--white);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

/* Authorization */

.authorization-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.authorization-button:hover {
  color: var(--light-red);
}

.authorization-button:active {
  color: var(--light-gray);
}

/* Authorization user */

.user-block {
  background-color: var(--white);
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.user-name:active {
  color: var(--light-gray);
}

.user-links a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.user-links a:hover {
  color: var(--light-red);
}

.user-links a:active {
  color: var(--light-gray);
}

/* Menu */

.site-navigation {
  padding: 0;
  margin: 0;
  box-shadow: inset 0 -5px 0 var(--dark-blue);
  list-style: none;
  background-color: var(--basic-blue); 
}

.site-navigation-item:hover {
  background-color: var(--dark-blue); 
}

.site-navigation-item:active a {
  opacity: 0.5;
}

/* Index */

/* Main */

/* Features */

.features {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 59px;
}

.features-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--white-with-opacity);
}

.features-button:hover {
  background-color: var(--lighten-gray);
}

.features-button:active {
  background-color: var(--light-gray-with-opacity);
}

.features-list {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--orange);
}

.features-item:nth-child(2) {
  background-color: var(--light-blue);
}

.features-item:nth-child(3) {
  background-color: var(--liliac);
}

.features-item:nth-child(4) {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
  background-color: var(--pale-green);
}

.features-item:last-child {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

/* Slider */

.features-slider-list {
  margin: 0;
  padding: 0;
}

.features-slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.features-slider-item {
  color: var(--white);
}

.features-slider-content {
  background-color: var(--black);
  opacity: 0.25;
}

.features-slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.features-slider-subtitle {
  font-size: 18px;
  line-height: 24px;
}

.features-slider-item:last-child {
  display: none;
}

/* Catalog */

.catalog {
  margin-bottom: 70px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.page-catalog .catalog-list {
  grid-template-columns: 1fr 1fr 1fr;
}

.catalog-item {
  border: 1px solid var(--border-light-gray);
}

.catalog-block {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 20px;
}

.price-before {
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.price-after {
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--light-red);
}

.catalog-buttons {
  display: none;
}

.catalog-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-button-buy {
  color: var(--white);
  border: none;
  background-color: var(--dark-green);
}

.catalog-button-buy:hover {
  background-color: var(--green);
}

.catalog-button-buy:active {
  background-color: var(--darker-green);
}

.catalog-button-bookmark {
  color: var(--basic-blue);
  border: 3px solid var(--dark-green);
  border-radius: 2px;
  background-color: var(--white);
}

.catalog-button-bookmark:hover {
  border: 3px solid var(--basic-blue);
}

.catalog-button-bookmark:active {
  opacity: 0.5;
}

/* Manufacturers */

.manufacturers {
  margin-bottom: 70px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  border: 1px solid var(--border-light-gray);
}

.manufacturers-item:active {
  opacity: 0.5;
}

/* Services*/

.services {
  margin-bottom: 70px;
  padding: 64px 0 99px 0;
  font-family: 'PT Sans', Arial, sans-serif;
  background-color: var(--gray);
}

.services-header {
  margin-bottom: 70px;
}

.services-slider {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.services-slider-items {
  margin-left: 80px;
}

.services-slider-item-second, .services-slider-item-third {
  display: none;
}

.services-slider-control {
  font-weight: bold;
  color: var(--white);
  background-color: var(--basic-blue);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

.about p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.benefits-list {
  font-size: 18px;
  line-height: 24px; 
}

/*  Footer */

.main-footer-top {
  font-size: 18px;
  line-height: 24px;
  color: var(--light-white-gray);
  background-color: var(--basic-blue);
}

.main-footer-top a:hover {
  text-decoration: underline;
}

.main-footer-top a:active {
  opacity: 0.5;
}

.main-footer-top-first {
  display: grid;
  grid-template-columns: auto 1fr;
}

.main-footer-top-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-footer-bottom { 
  font-size: 16px;
  line-height: 18px;
  background-color: var(--dark-blue); 
}

.main-footer-bottom .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-top-first a {
  color: var(--white-gray);
}

.main-footer-top-second a {
  color: var(--ligh-orange);
}

.main-footer-bottom {
  color: var(--white);
}

.main-footer-bottom a {
  font-size: 16px;
  line-height: 18px;
  color: var(--ligh-orange);
}

.main-footer-bottom a:hover {
  text-decoration: underline;
}

.main-footer-bottom a:active {
  color: var(--red);
}

.main-footer-bottom p {
  margin: 0;
}

.social-list {
  justify-self: center;
  text-align: center;
  list-style: none;
}

.about-block {
  justify-self: end;
}

/* Catalog */

.content-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black); 
  text-transform: uppercase;
  background-color: var(--white-orange);
}

.content-title h2 {
  font-size: 13px;
  font-weight: normal;  
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item, .breadcrumbs-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);  
  text-transform: uppercase;
}

/* Content */

.content-block {
  display: grid;
  grid-template-columns: 220px 1fr; 
  margin-bottom: 59px;
}

/* Filter */

.filter {
  margin-right: 20px;
}

/* Sort */

.sort-item {
  border-bottom: 1px dotted var(--light-red); 
  opacity: 0.3;
}

.sort-item:hover {
  border-bottom: 1px solid var(--light-red); 
  opacity: 1;
}

.sort-active {
  color: var(--light-red);
  border: none;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item {
  border: 1px solid var(--lighter-white-gray);
}

.pagination-item:hover {
  border: 1px solid var(--light-gray);
}

.pagination-item:active {
  border: 1px solid var(--light-red);
}

.pagination-item a {
  color: var(--black);
  text-transform: uppercase;
}

.pagination-item-current a {
  color: var(--white);
  background-color: var(--light-red);
}

/* About product */

.about-product {
  padding: 64px 0 68px 0;
  background-color: var(--gray);
}

