:root {
  --white: #FFF;
  --black-opacity-24: rgba(0, 0, 0, 0.24);
  --black-opacity-15: rgba(0, 0, 0, 0.15);
  --white-opacity-30: rgba(255, 255, 255, 0.3);
  --white-opacity-50: rgba(255, 255, 255, 0.5);
  --gray: #F1F5F7;
  --dark-gray: #A9A9A9;
  --light-gray-with-opacity: rgba(169, 169, 169, 0.3);
  --light-gray: #C5C5C5;
  --white-gray: #F1F5F7;
  --light-white-gray: #F3F7F9;
  --lighter-white-gray: #E5E5E5;
  --border-light-gray: #EAEAEA;
  --lighten-gray: rgba(197, 197, 197, 0.3);
  --blue-gray: #F9F5F0;
  --popup-gray: #F4F4F4;
  --black: #000;
  --black-blue: #161D29;
  --light-red: #EE3643;
  --red: #CA2C37;
  --orange-red: #FF5357;
  --dark-red: #BA2732;
  --basic-blue: #32425C;
  --dark-blue: #293449;
  --light-dark-blue: #3D546F;
  --orange: #FFBF47;
  --ligh-orange: #FFD180;
  --white-orange: #F7F3EC;
  --light-blue: #3BBCE3;
  --liliac: #DC91D8;
  --green: #5FBB2D;
  --dark-green: #63A63E;
  --darker-green: #518534;
  --pale-green: #8ED78F;
  --shadow-green: #367315;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* General */

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  padding: 10px 38px;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  border: none;
  background-color: var(--light-red);
  cursor: pointer;
}

.button:hover {
  background-color: var(--red);  
}

.button:active {
  background-color: var(--dark-red);  
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
  padding: 25px 14px 26px 28px;
  background-color: var(--blue-gray);
}

.section-header-gray {
  margin: 20px 0;
  padding: 29px;
  background-color: var(--gray);
}

.title {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: var(--basic-blue);
  text-transform: uppercase;

}

.title-black {
  color: var(--black);
}

.new-label {
  display: block;
  position: absolute;
  top: 9px;
  right: 9px;
  width: 30px;
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--light-red);
  transform: rotate(45deg);
}

.new-label:after {
  content: '';
  position: absolute;
  top: 0;
  right: -35px;
  height: 0; 
  width: 40px; 
  border-bottom: 30px solid var(--light-red);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  z-index: -1;
}

/* Grid  */
.page {
  height: 100%;
}
.page-body {
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  display: grid;
}
.main-header-top-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-self: center;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
} 

/* Header */

.main-header {
  background-color: var(--gray);
}

.main-header-top {
  height: 42px;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--dark-blue);
}

.main-header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header-top-left {
  display: flex;
}

.logo {
  padding: 12px 56px 17px 56px;
  line-height: 0;
  box-shadow: inset 0 -5px 0 var(--black-opacity-24);
  background-color: var(--light-red);
}

.logo:active {
 background-color: var(--dark-red);
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 11px;
  left: 17px;
}

.search-icon path {
  opacity: 0.3;
}

.search-field {
  padding: 10px 20px 8px 42px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: var(--dark-blue);
}

.search-field::placeholder {
  color: var(--white);
}

.search-field:active::placeholder {
  color: var(--light-gray);
}

.search-field:focus {
  color: var(--black);
  background-color: var(--white);
}

.search-field:focus::placeholder {
  color: var(--black);
}

.search-field:hover + .search-icon path {
  opacity: 1;
}

.search-field:focus + .search-icon path {
  opacity: 1;
  fill: var(--light-red);
}

.main-header-top-right {
  display: flex;
}

.header-button {
  display: block;
  position: relative;
}

.header-button svg {
  opacity: 0.3;
  position: absolute;
  top: 13px;
}

.header-button:hover svg {
  opacity: 1;
}

.header-button:active {
  background-color: var(--black-blue);
  color: var(--white-opacity-50);
}

.bookmark {
  padding: 10px 24px 8px 43px;
}

.bookmark svg {
  left: 20px;
}

.cart {
  padding: 10px 26px 8px 49px;
}


.cart svg {
  left: 26px;
}

.cart-active {
  background-color: var(--light-red);
}

.order-button {
  display: block;
  padding: 9px 16px 9px 19px;
  background-color: var(--dark-green);
}

.order-button:hover {
  background-color: var(--green);
}

.order-button:active {
  background-color: var(--dark-green);
}

.main-header-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px 60px 10px;
}

.main-header-block {
  display: flex;
  margin-bottom: 26px;
}

.header-subtitle {
  width: 197px;
  margin: 43px 93px 0 30px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-red);
}

.header-contacts {
  margin: 53px 68px 0 0;
}

.header-phone {
  padding: 7px 43px 8px 71px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--light-red);
  border: 3px solid var(--white);
  background: url(../img/icon-phone.svg) 36px 9px no-repeat;
}

.header-address {
  margin-top: 11px;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  text-align: center;
}

/* Authorization */

.authorization {
  margin-top: 58px;
}

.authorization-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.authorization-button:hover {
  color: var(--light-red);
}

.authorization-button:active {
  color: var(--light-gray);
}

.authorization-button:hover path {
  fill: var(--light-dark-blue);
}

.authorization-button:active path {
  fill: var(--light-gray);
}

.login {
  position: relative;
  margin-right: 10px;
  padding: 10px 23px 10px 45px;
  background-position: 10px 20px;
}

.login svg {
  position: absolute;
  top: 12px;
  left: 19px;
}

.registration {
  padding: 10px 23px 10px 24px;
}

/* Authorization user */

.user-block {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  background-color: var(--white);
}

.user-name {
  padding-left: 44px; 
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.user-name:active {
  color: var(--light-gray);
}

.logout {
  line-height: 0;
  background-image: url(../img/icon-logout.svg);
}

.user-links a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.user-links a:hover {
  color: var(--light-red);
}

.user-links a:active {
  color: var(--light-gray);
}

/* Menu */

.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 25px;
  margin: 0;
  box-shadow: inset 0 -5px 0 var(--dark-blue);
  list-style: none;
  background-color: var(--basic-blue); 
}

.site-navigation-item a {
  display: block;
  padding: 17px 28px 19px 28px;
}

.site-navigation-item:hover {
  background-color: var(--dark-blue); 
}

.site-navigation-item:active a {
  opacity: 0.5;
}

/* Index */

/* Main */

/* Features */

.features {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
  margin: 59px 0;
}

.features-button {
  display: block;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--white-opacity-30);
}

.features-button:hover {
  background-color: var(--lighten-gray);
}

.features-button:active {
  background-color: var(--light-gray-with-opacity);
}

.features-list {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  width: 300px;
  height: 123px;
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--orange);
}

.features-item-name {
  display: block;
  margin: 23px 0 16px 23px;
}

.features-button {
  display: block;
  width: 135px;
  margin-left: 23px; 
  padding: 10px 0;
  text-align: center;
}

.features-item:first-child {
  background: var(--orange) url(../img/icon-materials.svg) 213px 31px no-repeat;
  background-size: 44px 65px;
}

.features-item:nth-child(2) {
  background: var(--light-blue) url(../img/icon-tool.svg) 194px 34px no-repeat;
  background-size: 75px 61px;
}

.features-item:nth-child(3) {
  background: var(--liliac) url(../img/icon-tech.svg) 191px 31px no-repeat;
  background-size: 78px 62px;
}

.features-item:nth-child(4) {
  grid-row: 2 / 2;
  grid-column: 3 / 3;
  background: var(--pale-green) url(../img/icon-discount.svg) 196px 26px no-repeat;
  background-size: 59px 72px;
}

.features-item:last-child {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
  background: var(--pale-green) url(../img/icon-delivery.svg) 191px 32px no-repeat;
  background-size: 78px 63px;
  background-color: var(--orange);
}

/* Slider */

.features-slider-list {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.features-slider {
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
}

.features-slider-item {
  position: relative;
  color: var(--white);
}

.features-slider-content {
  position: absolute;
  width: 100%;
  background-color: var(--black-opacity-24);
}

.features-slider-title {
  margin: 0;
  padding: 23px 0 5px 24px; 
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-slider-subtitle {
  margin: 0;
  padding: 0 0 16px 24px; 
  font-size: 18px;
  line-height: 24px;
}

.features-slider-button {
  position: absolute;
  bottom: 27px;
  left: 24px;
  padding: 11px 46px 9px 46px;
  text-align: center;
}

.features-slider-arrow-right {
  position: absolute;
  top: 122px;
  right: 20px;
  height: 40px;
  width: 22px;
  border: none;
  background: url(../img/icon-right.svg) no-repeat;
  cursor: pointer;
}

.features-slider-arrow-left {
  position: absolute;
  top: 122px;
  left: 24px;
  height: 40px;
  width: 22px;
  border: none;
  background: url(../img/icon-left.svg) no-repeat;
  cursor: pointer;
}

.features-slider-dots {
  position: absolute;
  left: 295px;
  bottom: 36px;
}

.features-slider-dot {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  background-color: var(--white);
  cursor: pointer;
}

.features-slider-dot.active {
  border: 2px solid var(--white);
  height: 6px;
  width: 6px;
  background-color: var(--light-red);
}

/* Catalog */

.catalog {
  margin-bottom: 70px;
}

.catalog .button {
  padding: 11px 24px 9px 24px;
}

.page-catalog .catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.page-catalog .catalog-list {
  flex-wrap: wrap;
}

.catalog-item {
  box-sizing: border-box;
  width: 220px;
  position: relative;
  border: 1px solid var(--border-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2px 18px 22px 10px;
}

.catalog-item:hover {
  box-shadow: 0 4px 20px 0 var(--black-opacity-15);
}

.catalog-item:hover .catalog-image {
  display: none;
}

.catalog-item:hover .catalog-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.catalog-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 164px;
  margin-bottom: 12px;
}

.catalog-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  margin: 0px 17px 0 18px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 7px 0;
}

.price-before {
  min-height: 18px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.price-after {
  display: block;
  position: relative;
  margin: 0;
  padding: 10px 24px 10px 32px;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--light-red);
  border-radius: 3px;
}

.price-after::after {
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  top: 5px;
  right: -12px;
  background-color: var(--light-red);
  border-radius: 3px;
  transform: rotate(45deg);
}

.catalog-buttons {
  height: 164px;
  display: none;
}

.catalog-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-button-buy {
  margin-bottom: 10px;
  padding: 10px 40px 10px 26px;
  color: var(--white);
  border: none;
  background-color: var(--dark-green);
  box-shadow: inset 0 -3px 0 var(--shadow-green);
  border-radius: 2px;
}

.button-buy-icon path {
  opacity: 0.3;
}

.button-buy-icon {
  margin-right: 9px;
}

.catalog-button-buy:hover {
  background-color: var(--green);
}

.catalog-button-buy:active {
  background-color: var(--darker-green);
}

.catalog-button-bookmark {
  padding: 11px 31px 9px 31px;
  color: var(--basic-blue);
  border: 3px solid var(--dark-green);
  border-radius: 2px;
  background-color: var(--white);
}

.catalog-button-bookmark:hover {
  border: 3px solid var(--basic-blue);
}

.catalog-button-bookmark:active {
  opacity: 0.5;
}

/* Manufacturers */

.manufacturers {
  margin-bottom: 48px;
}

.manufacturers .button {
  margin-right: 5px;
  margin-top: -2px;
}


.manufacturers .section-header {
  padding: 26px 14px 28px 28px;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;
  margin-bottom: 20px;
  border: 1px solid var(--border-light-gray);
}

.manufacturers-item:hover {
  box-shadow: 0 4px 20px 0 var(--black-opacity-15);
}

.manufacturers-item:active {
  opacity: 0.5;
}

/* Services*/

.services {
  margin-bottom: 70px;
  padding-top: 64px;
  padding-bottom: 99px;
  background-color: var(--gray);
}

.services-header {
  margin-bottom: 69px;
}

.services-header-text {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 400px;
  margin-top: 25px;
}

.services-slider {
  display: flex;
}

.services-slider-control {
  width: 240px;
  font-weight: bold;
  color: var(--white);
}

.services-slider-labels {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
}

.services-slider-labels::after {
  content: '';
  position: absolute;
  top: -45px;
  left: 233px;
  width: 10px;
  height: 279px;
  background: url(../img/slider-shadow.png);
  background-size: 10px 279px;
}

.services-slider-label {
  padding: 14px 0 18px 23px;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  font-weight: bold;
  background-color: var(--basic-blue);
  box-shadow: 0 1px 0 var(--dark-blue), inset 0 1px 0 #405069;
  cursor: pointer;
}

.services-slider-label:hover {
  background-color: var(--dark-blue);
}

.services-slider-labels .active{
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: 0 1px 0 var(--white);
}

.services-slider-items {
  width: 100%;
  margin-left: 80px;
}

.services-slider-item-first {
  height: 100%;
  background: url(../img/truck.png) 151px 20px no-repeat;
}

.services-slider-item-second {
  height: 100%;
  background: url(../img/guarantee.png) 239px -2px no-repeat; 
}

.services-slider-item-third {
  height: 100%;
  background: url(../img/credit.png) 166px 0px no-repeat; 
}

.services-slider-text {
  margin-top: 27px;
  width: 331px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 25px;
}

.services-slider-item-second .services-slider-text {
  line-height: 24px;
  margin-top: 23px;
}

.services-slider-item-third .services-slider-text {
  margin-bottom: 32px;
}

.services-slider-item-third .button {
  border-radius: 2px;
  padding: 10px 44px 11px 46px;
  background-color: var(--orange-red);
}

/* About */

.about {
  display: flex;
  margin-bottom: 69px;
}

.about .title {
  margin-top: 1px;
}


.about p {
  font-family: 'PT Sans', Arial, sans-serif;
  margin-top: 24px;
}

.benefits {
  width: 460px;
}

.benefits .button {
  padding-top: 11px;
  padding-right: 43px;
}

.benefits-list {
  margin-top: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px; 
}

.benefits-item {
  position: relative;
  margin-bottom: 12px;
  margin-left: -2px;
}

.benefits-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--light-red);
}

.benefits-item:last-child {
  margin-bottom: 27px;
}

.benefits-text {
  margin-bottom: 4px;
}

.contacts {
  width: 300px;
  margin-left: 180px; 
}

.contacts .button {
  width: 100%;
  margin-top: 17px; 
}

.contacts-text {
  width: 181px;
  margin-bottom: 33px;
}

/*  Footer */

.main-footer-top {
  font-size: 18px;
  line-height: 24px;
  color: var(--light-white-gray);
  background-color: var(--basic-blue);
}

.main-footer-top a:hover {
  text-decoration: underline;
}

.main-footer-top a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer-top-first {
  display: flex;
  justify-content: space-between;
}

.main-footer-top-second {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-footer-bottom { 
  padding: 36px 0 26px 0;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--dark-blue); 
}

.main-footer-bottom .container {
  display: flex;
  align-items: flex-start;
}

.main-footer-top-first .logo {
  padding: 20px 41px 25px 41px;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-top-first .footer-navigation-list {
  margin-top: 37px;
  margin-right: -3px;
}

.main-footer-top-second .footer-navigation-list {
  margin-top: 29px;
}

.footer-navigation-item {
  margin-right: 60px;
}

.footer-navigation-item:last-child {
  margin-right: 0;
}

.main-footer-top-first a {
  color: var(--white-gray);
}

.main-footer-top-second a {
  color: var(--ligh-orange);
}

.footer-address {
  margin: 22px 0 54px 0;
}

.main-footer-bottom {
  color: var(--white);
}

.main-footer-bottom a {
  font-size: 16px;
  line-height: 18px;
  color: var(--ligh-orange);
}

.main-footer-bottom a:hover {
  text-decoration: underline;
}

.main-footer-bottom a:active {
  color: var(--red);
  text-decoration: none;
}

.copyright {
  margin: 0;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0 118px 0 124px;
}

.social-link:hover .social-icon path:first-child {
  fill: var(--light-red);
}

.social-link:active .social-icon path:first-child {
  fill: var(--light-red);
}

.about-block {
  display: flex;
}

.about-block p {
  display: flex;
  flex-direction: column;
}

.feedback {
  margin: 0 51px 0 0;
}

.author {
  margin: 0;
}

/* Catalog */

.content-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: var(--black); 
  text-transform: uppercase;
  background-color: var(--white-orange);
}

.content-title h2 {
  font-size: 13px;
  font-weight: normal;  
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs-item, .breadcrumbs-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);  
  text-transform: uppercase;
}

/* Content */

.content-block {
  /*display: grid;
  grid-template-columns: 220px 1fr; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

/* Filter */

.filter {
  width: 220px;
  margin-right: 20px;
}

/* Sort */

.sort {
 display: flex;
 justify-content: space-between;
 padding: 10px 20px
}

.sort-title {
  margin: 0;
}

.sort-name {
  display: flex;
  justify-content: space-around;
}

.sort-item {
  border-bottom: 1px dotted var(--light-red); 
  opacity: 0.3;
}

.sort-item:hover {
  border-bottom: 1px solid var(--light-red); 
  opacity: 1;
}

.sort-active {
  color: var(--light-red);
  border: none;
}

/* Pagination */

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-item {
  margin-right: 10px;
  border: 1px solid var(--lighter-white-gray);
  border-radius: 2px;
}

.pagination-item:hover {
  border: 1px solid var(--light-gray);
}

.pagination-item:active {
  border: 1px solid var(--light-red);
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.pagination-item:last-child  a {
  padding: 10px 32px;
}

.pagination-item-current {
  background-color: var(--light-red);
}

.pagination-item-current a {
  color: var(--white);
}

/* about product */

.about-product {
  padding: 64px 0 68px 0;
  background-color: var(--gray);
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-shadow: inset 0 7px 0 var(--light-red), 0px 4px 20px var(--black-opacity-15);
  background-color: var(--white);
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 3px;
  background-color: var(--light-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* modal feedback */

.modal-feedback {
  top: 237px;
  bottom: auto;
  width: 620px;
  display: none;
}

/* modal map */

.modal-map {
  width: 943px;
  height: 449px;
  display: none;
}

.modal-map iframe {
  margin-top: 7px;
} 

/* feedback-form */

.feedback-form-container {
  width: 460px;
  margin: auto;
  padding: 55px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form-label {
  display: block;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
}

.feedback-form-item:nth-child(3) .feedback-form-field {
  width: 420px;
}

.feedback-form-field {
  width: 180px;
  border: 2px solid var(--light-gray);
  border-radius: 2px;
  padding: 10px 20px;
}

.modal-buttons {
  width: 100%;
  background-color: var(--popup-gray);
}

.feedback-form .button {
  width: 460px;
  margin: 55px 80px;
  text-align: center;
}
