
:root {
  --white: #FFF;
  --white-with-opacity: rgba(255, 255, 255, 0.3);
  --gray: #F1F5F7;
  --dark-gray: #A9A9A9;
  --light-gray-with-opacity: rgba(169, 169, 169, 0.3);
  --light-gray: #C5C5C5;
  --white-gray: #F1F5F7;
  --light-white-gray: #F3F7F9;
  --border-light-gray: #EAEAEA;
  --lighten-gray: rgba(197, 197, 197, 0.3);
  --blue-gray: #F9F5F0;
  --black: #000;
  --black-blue: #161D29;
  --light-red: #EE3643;
  --red: #CA2C37;
  --dark-red: #BA2732;
  --basic-blue: #32425C;
  --dark-blue: #293449;
  --orange: #FFBF47;
  --ligh-orange: #FFD180;
  --light-blue: #3BBCE3;
  --liliac: #DC91D8;
  --green: #5FBB2D;
  --dark-green: #63A63E;
  --darker-green: #518534;
  --pale-green: #8ED78F;
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

/* General */

.button {
  color: var(--white);
  background-color: var(--light-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: var(--red);  
}

.button:active {
  background-color: var(--dark-red);  
}

.section-header {
  background-color: var(--blue-gray);
}

.title {
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.title-black {
  color: var(--black);
}

.new-label {
  background-color: var(--light-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

/* Header */

.main-header {
  background-color: var(--gray);
}

.main-header-top {
  background-color: var(--dark-blue);
  font-size: 18px;
  line-height: 24px;
}

.search input {
  background-color: var(--dark-blue);
  border: none;
}

.search input:focus {
  background-color: var(--white);
}

.order-button {
  background-color: var(--dark-green);
}

.order-button:hover {
  background-color: var(--green);
}

.order-button:active {
  background-color: var(--dark-green);
}

.header-subtitle {
  color: var(--light-red);
  font-size: 16px;
  line-height: 23px;
}

.header-phone {
  color: var(--light-red);
  border: 3px solid var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  color: var(--basic-blue);
  font-size: 14px;
  line-height: 24px;
}

.authorization-button {
  background-color: var(--white);
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

.authorization-button:hover {
  color: var(--light-red);
}

.authorization-button:active {
  color: var(--light-gray);
}

/* Menu */

.site-navigation {
  background-color: var(--basic-blue); 
  list-style: none;
  box-shadow: inset 0 -5px 0 var(--dark-blue);
}

.site-navigation-item:hover {
  background-color:var(--dark-blue); 
}

.site-navigation-item:active a {
  opacity: 0.5;
}

/* Main */

.index-title {
  display: none;
}

/* Features */

.features-button {
  background-color: var(--white-with-opacity);
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.features-button:hover {
  background-color: var(--lighten-gray);
}

.features-button:active {
  background-color: var(--light-gray-with-opacity);
}

.features-item {
  background-color: var(--orange);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.features-item:nth-child(2) {
  background-color: var(--light-blue);
}

.features-item:nth-child(3) {
  background-color: var(--liliac);
}

.features-item:nth-child(4) {
  background-color: var(--pale-green);
}

/* Slider */

.features-slider-item {
  color: var(--white);
}

.features-slider-content {
  background-color: var(--black);
  opacity: 0.25;
}

.features-slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.features-slider-subtitle {
  font-size: 18px;
  line-height: 24px;
}

/* Catalog */

.catalog-item {
  border: 1px solid var(--border-light-gray);
  list-style: none;
}

.catalog-block {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 20px;
}

.price-before {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark-gray);
}

.price-after {
  background-color: var(--light-red);
  color: var(--white);
  font-size: 17px;
  line-height: 18px;
}

.catalog-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-button-buy {
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
}

.catalog-button-buy:hover {
  background-color: var(--green);
}

.catalog-button-buy:active {
  background-color: var(--darker-green);
}

.catalog-button-bookmark {
  background-color: var(--white);
  border: 3px solid var(--dark-green);
  border-radius: 2px;
  color: var(--basic-blue);
}

.catalog-button-bookmark:hover {
  border: 3px solid var(--basic-blue);
}

.catalog-button-bookmark:active {
  opacity: 0.5;
}

/* Manufacturers */

.manufacturers-list {
  list-style: none;
}

/* Services*/

.services {
  background-color: var(--gray);
  font-family: 'PT Sans', Arial, sans-serif;
}

.services-slider-control {
  color: var(--white);
  background-color: var(--basic-blue);
  font-weight: bold;
}

/* About */

.about p {
  font-family: 'PT Sans', Arial, sans-serif;
}

.benefits-list {
  font-size: 18px;
  line-height: 24px; 
}

/*  Footer */

.main-footer-top {
  background-color: var(--basic-blue);
  color: var(--light-white-gray);
  font-size: 18px;
  line-height: 24px;
}

.main-footer-top a:hover {
  text-decoration: underline;
}

.main-footer-top a:active {
  opacity: 0.5;
}

.main-footer-bottom {
  background-color: var(--dark-blue);  
  font-size: 16px;
  line-height: 18px;
}

.footer-navigation-list {
  list-style: none;
}

.main-footer-top-first a {
  color: var(--white-gray);
}

.main-footer-top-second a {
  color: var(--ligh-orange);
}

.main-footer-bottom {
  color: var(--white);
}

.main-footer-bottom a {
  color: var(--ligh-orange);
  font-size: 16px;
  line-height: 18px;
}

.main-footer-bottom a:hover {
  text-decoration: underline;
}

.main-footer-bottom a:active {
  color: var(--red);
}

.social-list {
  list-style: none;
}